@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #0ff;
    font-family: 'VT323', monospace;
}

canvas {
    display: block;
    box-shadow: 0 0 20px #0ff;
}

#controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    pointer-events: none;
}

.control {
    position: absolute;
    width: 50%;
    height: 100%;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-control {
    left: 0;
    bottom: 0;
}

#right-control {
    right: 0;
    bottom: 0;
}

.control::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 50px 30px 50px;
    opacity: 0.5;
}

#left-control::before {
    border-color: transparent #0ff transparent transparent;
}

#right-control::before {
    border-color: transparent transparent transparent #0ff;
}

.control:active::before, .control:hover::before {
    opacity: 1;
    text-shadow: 0 0 10px #0ff;
}
